[Desktop Entry]
Name=View Source Vibe
Comment=A cross-platform source code viewer app
Exec=info.wouter.sourceviewer
Icon=info.wouter.sourceviewer
Terminal=false
Type=Application
Categories=Development;Utility;
StartupWMClass=View Source Vibe
MimeType=text/html;text/css;text/javascript;text/plain;
Keywords=code;html;css;javascript;viewer;editor;
